* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

:root {
    --primary-color: #FFFFFF;
    --secondary-color: #202020;
    --tertiary-color: #FFCC2A;
    --quaternary-color: #0A5A4C;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
}

body {
    background-color: var(--secondary-color);
    color: var(--primary-color);
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100Vh;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    font-family: monospace;
}

/* -------------- */
/* HEADER SECTION */
/* -------------- */
.header-container {
    width: calc(100vw - 4rem);
    height: auto;
    margin: 2rem;
    color: var(--primary-color);
    background-color: var(--secondary-color);
}

/* ------------------- */
/* MENU BAR FOR MOBILE */
/* ------------------- */

.header-container ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    width: 100%;
    height: auto;
}

/* ----------- */
/* BACK BUTTON */
/* ----------- */
.back-btn {
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
}

.back-btn i {
    font-size: 1.5rem;
    padding-right: 1rem;
    color: var(--tertiary-color);
    cursor: pointer;
}

.back-btn a {
    font-weight: bold;
    font-size: clamp(1rem, 1.25vw + 0.5rem, 1.5rem);
    text-decoration: none;
    color: var(--primary-color);
}

.back-btn a:hover {
    color: rgba(255, 255, 255, 0.8);
}

/* -------- */
/* BRANDING */
/* -------- */
.branding {
    display: flex;
    align-items: center;
}

.branding img {
    width: 3rem;
    height: 3rem;
    margin-right: 0.5rem;
}

.branding p {
    color: var(--primary-color);
    font-size: clamp(1rem, 1.25vw + 0.5rem, 1.5rem);
    font-weight: bold;
}

#branding-title {
    color: var(--tertiary-color);
}

/* ------------ */
/* MAIN SECTION */
/* ------------ */
.project-container {
    width: 100vw;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
}

.section-header {
    width: calc(100% - 4rem);
    height: auto;
    margin: 2rem;
    font-weight: bold;
    text-align: left;
    font-size: clamp(1rem, 1.5vw + 0.5rem, 2rem);
}

/* --------- */
/* LEFT SIDE */
/* --------- */
.project-preview {
    display: flex;
    flex-direction: column;
    width: calc(70vw - 4rem);
    margin: 0 2rem;
    height: auto;
}

.project-preview iframe {
    width: calc(100% - 4rem) !important;
    margin: 0 2rem;
    height: 35rem !important;
}

/* ---------- */
/* RIGHT SIDE */
/* ---------- */
.project-tech {
    width: calc(30vw - 4rem);
    height: auto;
    margin: 0 2rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.skill {
    width: 80px;
    height: 80px;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 3rem;
}

.outer {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    padding: 10px;
    box-shadow: 3px 3px 5px -1px rgba(0, 0, 0, 0.15),
        -3px -3px 5px -1px rgba(255, 255, 255, 0.7);
}

.inner {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60px;
    /* scaled down from 120px */
    height: 60px;
    border-radius: 50%;
    box-shadow: inset 2px 2px 3px -1px rgba(0, 0, 0, 0.2),
        inset -2px -2px 3px -1px rgba(255, 255, 255, 0.7),
        -0.25px -0.25px 0px rgba(255, 255, 255, 1),
        0.25px 0.25px 0 rgba(0, 0, 0, 0.15),
        0px 6px 5px -5px rgba(0, 0, 0, 0.05);
}

#number {
    font-weight: 600;
    font-size: 15px;
}

svg {
    position: absolute;
    top: 0;
    left: 0;
}

circle {
    fill: none;
    stroke: url(#GradientColor);
    stroke-width: 10px;
    stroke-dasharray: 220;
    stroke-dashoffset: 220;
    transition: stroke-dashoffset 1s ease;
}

.label {
    margin-top: 5px;
    text-align: center;
    font-size: clamp(0.8rem, 1vw + 0.3rem, 1.5rem);
    font-weight: 500;
    color: var(--primary-color);
}



/* ----------- */
/* BOTTOM SIDE */
/* ----------- */
.project-overview {
    width: calc(100% - 4rem);
    height: auto;
    margin: 0 2rem;
    display: flex;
    flex-direction: column;
}

.project-overview p {
    font-size: clamp(0.5rem, 0.8vw + 0.5rem, 1rem);
    padding: 2rem 1rem;
}

.features-list {
    margin-left: 2rem;
    font-size: clamp(0.5rem, 0.8vw + 0.5rem, 1rem);
}

/* ------------- */
/* MEDIA QUERIES */
/* ------------- */

@media (max-width: 767px) and (min-width: 320px) {
    .header-container {
        width: 100%;
        height: auto;
        display: flex;
    }

    .project-container {
        width: calc(100% - 2rem);
        height: auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 1rem;
        padding: 1rem;
    }

    /* ------------------- */
    /* LEFT SIDE - PREVIEW */
    /* ------------------- */
    .project-preview {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: auto;
    }

    .project-preview h2 {
        width: 100%;
        text-align: left;
        margin: 1rem 0;
    }

    .project-preview iframe {
        display: flex;
        width: calc(100% - 1rem) !important;
        height: 35rem !important;
        margin: 0 0.5rem;
    }

    /* --------------------- */
    /* RIGHT SIDE - OVERVIEW */
    /* --------------------- */
    .project-overview {
        width: calc(100vw - 4rem);
        height: auto;
        margin: 1rem 2rem;
        display: flex;
        flex-direction: column;
    }

    .project-overview h2 {
        width: 100%;
        height: auto;
        text-align: left;
        margin: 1rem 0;
    }

    .project-overview p {
        width: 100%;
        height: auto;
        padding: 1rem;
    }
}