* {
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
}

:root {
    --primary-color: #FFFFFF;
    --secondary-color: #202020;
    --tertiary-color: #FFCC2A;
    --quaternary-color: #0A5A4C;
}

body {
    background-color: var(--secondary-color);
    color: var(--primary-color);
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100Vh;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    font-family: monospace;
}

/* -------------- */
/* HEADER SECTION */
/* -------------- */
.header-container {
    width: calc(100vw - 4rem);
    height: auto;
    margin: 2rem;
    color: var(--primary-color);
    background-color: var(--secondary-color);
}

/* ------------------- */
/* MENU BAR FOR MOBILE */
/* ------------------- */

.header-container ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    width: 100%;
    height: auto;
}

/* ----------- */
/* BACK BUTTON */
/* ----------- */
.back-btn {
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
}

.back-btn i {
    font-size: 1.5rem;
    padding-right: 1rem;
    color: var(--tertiary-color);
    cursor: pointer;
}

.back-btn a {
    font-weight: bold;
    font-size: clamp(1rem, 1.25vw + 0.5rem, 1.5rem);
    text-decoration: none;
    color: var(--primary-color);
}

.back-btn a:hover {
    color: rgba(255, 255, 255, 0.8);
}

/* -------- */
/* BRANDING */
/* -------- */
.branding {
    display: flex;
    align-items: center;
}

.branding img {
    width: 3rem;
    height: 3rem;
    margin-right: 0.5rem;
}

.branding p {
    color: var(--primary-color);
    font-size: clamp(1rem, 1.25vw + 0.5rem, 1.5rem);
    font-weight: bold;
}

#branding-title {
    color: var(--tertiary-color);
}

/* ------------ */
/* MAIN SECTION */
/* ------------ */
.project-container {
    width: 100vw;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
}

.section-header {
    width: calc(100% - 4rem);
    height: auto;
    margin: 2rem;
    font-weight: bold;
    text-align: left;
    font-size: clamp(1rem, 1.5vw + 0.5rem, 2rem);
}

/* --------- */
/* LEFT SIDE */
/* --------- */
.project-preview {
    display: flex;
    flex-direction: column;
    width: calc(50vw - 4rem);
    margin: 0 2rem;
    height: auto;
}

.project-preview iframe {
    width: calc(100% - 4rem) !important;
    margin: 0 2rem;
    height: 40rem !important;
}

/* ---------- */
/* RIGHT SIDE */
/* ---------- */
.project-tech {
    width: calc(50vw - 4rem);
    margin: 0 2rem;
    height: auto;
}

.progress-bar-container {
    width: calc(100% - 2rem);
    height: auto;
    margin-right: 2rem;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.progress-bar-container i {
    font-size: clamp(1rem, 1.5vw + 0.5rem, 2rem);
}

/* ------------------- */
/* PROGRESS BAR | LEFT */
/* ------------------- */
.progress-bar {
    width: 100%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.project-bar h2 {
    display: flex;
    text-align: left;
    width: 100%;
    height: auto;
}

.bar {
    background-color: var(--primary-color);
    border-radius: 1rem;
    width: 100%;
}

.fill {
    height: 100%;
    width: 0;
    padding: 0.5rem;
    font-weight: bold;
    border-radius: 1rem;
    color: var(--secondary-color);
    background-color: var(--tertiary-color);
    animation: fillBar 2s forwards;
}

/* ----------- */
/* BOTTOM SIDE */
/* ----------- */
.project-overview {
    width: calc(100% - 4rem);
    height: auto;
    margin: 0 2rem;
    display: flex;
    flex-direction: column;
}

.project-overview p {
    font-size: clamp(0.5rem, 0.8vw + 0.5rem, 1rem);
    padding: 2rem 1rem;
}

.features-list {
    margin-left: 2rem;
    font-size: clamp(0.5rem, 0.8vw + 0.5rem, 1rem);
}

@keyframes fillBar {
    from {
        width: 0;
    }

    to {
        width: var(--progress);
    }
}

/* ------------- */
/* MEDIA QUERIES */
/* ------------- */

@media (max-width: 767px) and (min-width: 320px) {
    .header-container {
        width: 100%;
        height: auto;
        display: flex;
    }

    .project-container {
        width: calc(100% - 2rem);
        height: auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 1rem;
        padding: 1rem;
    }

    /* ------------------- */
    /* LEFT SIDE - PREVIEW */
    /* ------------------- */
    .project-preview {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: auto;
    }

    .project-preview h2 {
        width: 100%;
        text-align: left;
        margin: 1rem 0;
    }

    .project-preview iframe {
        display: flex;
        width: calc(100% - 1rem) !important;
        height: 35rem !important;
        margin: 0 0.5rem;
    }

    /* --------------------- */
    /* RIGHT SIDE - OVERVIEW */
    /* --------------------- */
    .project-overview {
        width: 100%;
        height: auto;
        margin: 1rem 0;
        display: flex;
        flex-direction: column;
    }

    .project-overview h2 {
        width: 100%;
        height: auto;
        text-align: left;
        margin: 1rem 0;
    }

    .project-overview p {
        width: 100%;
        height: auto;
        padding: 1rem;
    }

    /* PROGRESS BAR */
    .progress-bar-container {
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: column;
    }

    .progress-bar {
        width: calc(100% - 2rem);
        height: auto;
        margin: 0 1rem;
        display: flex;
        align-items: center;
    }
}