* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

:root {
    --bg-color: #FFFFFF;
    --fg-color: #202020;
    --accent-01: #FFCC2A;
    --accent-02: #0A5A4C;
    font-size: 16px;
    font-family: "JetBrains Mono", monospace;
}

h2,
i {
    font-size: clamp(1rem, 1vw + 0.5rem, 1.5rem);
}

p, li {
    font-size: clamp(0.8rem, 0.5vw + 0.5rem, 1.2rem);
}

body {
    width: 100vw;
    height: 100Vh;
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
    color: var(--bg-color);
    background-color: var(--fg-color);
}

/* ------------ */
/* MAIN SECTION */
/* ------------ */
.project-container {
    width: 100%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
}

.section-header {
    width: calc(100% - 4rem);
    height: auto;
    margin: 2rem;
    font-weight: bold;
    text-align: left;
}

/* LEFT SIDE */
.project-preview {
    display: flex;
    flex-direction: column;
    width: calc(50% - 4rem);
    margin: 0 2rem;
    height: auto;
}

.project-preview iframe {
    width: calc(100% - 4rem) !important;
    margin: 0 2rem;
    height: 35rem !important;
}

/* RIGHT SIDE */
.project-overview {
    width: calc(50% - 4rem);
    height: auto;
    margin: 0 2rem;
    display: flex;
    flex-direction: column;
}

.project-overview p {
    padding: 2rem 1rem;
}

.features-list {
    margin-left: 2rem;
    list-style-type: none;
}

.features-list li {
    margin-bottom: 1rem;
}

.features-list li i {
    color: var(--accent-01);
}

/* BOTTOM SIDE */
.project-tech {
    width: calc(100% - 4rem);
    height: auto;
    margin: 0 2rem;
    padding-bottom: 2rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

.skill {
    width: 80px;
    height: 80px;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.outer {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    padding: 10px;
    box-shadow: 3px 3px 5px -1px rgba(0, 0, 0, 0.15),
        -3px -3px 5px -1px rgba(255, 255, 255, 0.7);
}

.inner {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60px;
    /* scaled down from 120px */
    height: 60px;
    border-radius: 50%;
    box-shadow: inset 2px 2px 3px -1px rgba(0, 0, 0, 0.2),
        inset -2px -2px 3px -1px rgba(255, 255, 255, 0.7),
        -0.25px -0.25px 0px rgba(255, 255, 255, 1),
        0.25px 0.25px 0 rgba(0, 0, 0, 0.15),
        0px 6px 5px -5px rgba(0, 0, 0, 0.05);
}

#number {
    font-weight: 600;
}

svg {
    position: absolute;
    top: 0;
    left: 0;
}

circle {
    fill: none;
    stroke: url(#GradientColor);
    stroke-width: 10px;
    stroke-dasharray: 220;
    stroke-dashoffset: 220;
    transition: stroke-dashoffset 1s ease;
}

.label {
    margin-top: 5px;
    text-align: center;
    font-weight: 500;
    color: var(--bg-color);
}


/* ------------- */
/* MEDIA QUERIES */
/* ------------- */

@media (max-width: 767px) and (min-width: 320px) {

    .section-header {
        width: calc(100% - 2rem);
        height: auto;
        margin: 1rem;
    }

    /* PREVIEW SECTION */
    .project-preview {
        display: flex;
        flex-direction: column;
        width: calc(100% - 2rem);
        margin: 0 1rem;
        height: auto;
    }

    .project-preview iframe {
        width: calc(100% - 2rem) !important;
        margin: 0 1rem;
        height: 25rem !important;
    }

    /* OVERVIEW SECTION */
    .project-overview {
        width: calc(100% - 2rem);
        height: auto;
        margin: 0 1rem;
    }

    .project-overview p {
        padding: 1rem;
    }

    .features-list {
        margin-left: 1rem;
    }

    /* TECH SECTION */
    .project-tech {
        width: calc(100% - 2rem);
        height: auto;
        margin: 0 1rem;
    }

}