@media (max-width: 767px) and (min-width: 320px) {

    body {
        width: 100vw;
        height: 100vh;
        margin: 0;
        padding: 0;
    }

    .header-container {
        display: flex;
        width: 100vw;
        padding: 0.5rem 1rem;
    }

    .header-container h1 {
        font-size: 1rem;
    }

    /* ----------- */
    /* MENU TOGGLE */
    /* ----------- */
    .menu-toggle {
        display: block;
        position: relative;
        color: white;
        z-index: 1001;
    }

    .nav-links {
        display: none;
        flex-direction: column;
        position: absolute;
        width: 100%;
        top: 100%;
        left: 0;
        right: 0;
        padding: 1rem 2rem;
        font-size: 2rem;
        font-weight: bold;
        background-color: #202020;
        z-index: 1000;
    }

    .nav-links.active {
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        text-align: left;
    }

    .nav-links li {
        padding-bottom: 1rem;
        margin: 0;
    }

    .main-container {
        width: calc(100vw - 2rem);
        height: auto;
        margin: 0 1rem;
    }

    /* ------------- */
    /* INTRO SECTION */
    /* ------------- */
    .intro {
        display: flex;
        flex-direction: column;
        width: 100vw;
        height: auto;
    }

    .social-container {
        width: calc(100% - 4rem);
        height: auto;
        margin: 0 2rem;
        top: 5%;
    }

    .profile-container {
        display: flex;
        width: calc(100% - 4rem);
        height: auto;
        margin: 0 2rem;
    }

    .profile-image img {
        width: 100%;
        height: 100%;
        object-fit: contain;
    }

    /* ------ */
    /* RATING */
    /* ------ */
    .rating-container {
        margin-top: 2rem;
    }

    /* --------------- */
    /* SERVICE SECTION */
    /* --------------- */
    .services-title {
        width: calc(100vw - 2rem);
        margin-left: 2rem;
        margin-top: 2rem;
    }

    .services-container {
        width: calc(100vw - 4rem);
        gap: 2rem;
    }

    /* ------------- */
    /* ABOUT SECTION */
    /* ------------- */
    .about-title {
        width: calc(100vw - 2rem);
        margin-left: 2rem;
    }

    .about {
        width: calc(100% - 2rem);
        margin: 0 1rem;
    }

    .about-container {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

    .about-left {
        display: none;
    }

    .about-right {
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    .tabs {
        display: flex;
        justify-content: space-between;
        position: relative;
        width: 100%;
        gap: 0.5rem;
    }

    .tab-link {
        padding: 1rem 0.5rem;
    }

    /* SKILL TAB */
    .progress-bar-container {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        width: calc(100% - 1rem);
        margin: 0.5rem;
        font-family: monospace;
    }

    .progress-bar {
        width: 100%;
        display: flex;
        align-items: center;
        gap: 1rem;
    }


    /* EDUCATION TAB */
    .ed-content {
        width: calc(80% - 2rem);
        height: 100%;
        padding: 1rem;
    }

    /* CERTIFICATION TAB */

    .certification {
        gap: 0;
    }

    .certification.active {
        display: flex;
        flex-direction: column;
        margin: 0;
    }

    .cert-title {
        margin: 0.5rem 0;
    }

    .cert-slider {
        width: 100%;
        position: relative;
        overflow: hidden;
    }

    .cert-detail {
        width: calc(100% - 1rem);
        padding: 0.5rem;
    }


    /* --------------- */
    /* PROJECT SECTION */
    /* --------------- */
    .project-container {
        width: calc(100vw - 2rem);
        height: auto;
        margin: 0 1rem;
    }

    .project-section-title {
        width: calc(100vw - 2rem);
        margin-left: 2rem;
        margin-top: 2rem;
        margin-bottom: -1rem;
    }

    .project-box {
        display: flex;
        flex-direction: column;
        width: calc(100% - 2rem);
        height: auto;
        margin: 1rem;
    }

    .project-image img {
        padding: 0 2rem;
    }

    .project-caption {
        display: flex;
        width: 100%;
        height: 2rem;
        padding: 3rem;
    }

    /* -------------- */
    /* FOOTER SECTION */
    /* -------------- */

    .footer-container {
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: column;
        padding: 1rem 0.5rem;
    }

    .social-icons {
        gap: 1rem;
    }

    .footer-section ul {
        display: flex;
        flex-direction: column;
    }

    .footer-section ul li {
        padding: 1rem;
    }

    .footer-bottom {
        display: flex;
        flex-direction: column;
    }

}
