@media (max-width: 767px) and (min-width: 320px) {

    body {
        width: 100vw;
        height: 100vh;
        margin: 0;
        padding: 0;
    }

    .header-container {
        display: flex;
        width: 100vw;
        padding: 0.5rem 1rem;
    }

    /* ----------- */
    /* MENU TOGGLE */
    /* ----------- */
    .menu-toggle {
        display: block;
        position: relative;
        color: white;
        z-index: 1001;
    }

    .nav-links {
        display: none;
        flex-direction: column;
        position: absolute;
        width: 100%;
        top: 100%;
        left: 0;
        right: 0;
        padding: 1rem 2rem;
        font-size: 2rem;
        font-weight: bold;
        background-color: #202020;
        z-index: 1000;
    }

    .nav-links.active {
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        text-align: left;
    }

    .nav-links li {
        padding-bottom: 1rem;
        margin: 0;
    }

    .main-container {
        width: calc(100vw - 2rem);
        height: auto;
        margin: 0 1rem;
    }

    /* SECTION TITLE */
    .section-title {
        width: calc(100vw - 4rem);
        height: auto;
        margin: 1rem 2rem;
        display: flex;
        justify-content: flex-start;
        text-align: left;
    }

    /* ------------- */
    /* INTRO SECTION */
    /* ------------- */
    .intro-section {
        display: flex;
        flex-direction: column;
    }

    .social-container,
    .profile-container {
        width: calc(100% - 4rem);
        height: auto;
        margin: 0 2rem;
        top: 5%;
    }

    .profile-image img {
        width: 100%;
        height: 100%;
        object-fit: contain;
    }

    /* ------ */
    /* RATING */
    /* ------ */
    .rating-container {
        margin-top: 2rem;
    }

    /* ------------- */
    /* ABOUT SECTION */
    /* ------------- */
    .skill-box {
        width: 7rem;
        height: 7rem;
    }

    .label {
        padding-top: 5rem;
    }

    .edu-detail {
        display: flex;
        flex-direction: column;
        padding: 0.5rem;
    }

    .edu-left, .edu-right {
        width: 100%;
        height: auto;
    }

    /* --------------- */
    /* PROJECT SECTION */
    /* --------------- */
    .project-box {
        width: calc(100vw - 4rem);
        height: auto;
    }



    /* -------------- */
    /* FOOTER SECTION */
    /* -------------- */
    .footer-top {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        align-items: center;
        text-align: left;
    }

    .footer-branding {
        margin-top: 2rem;
    }

}