* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

:root {
    --primary-color: #FFFFFF;
    --secondary-color: #202020;
    --tertiary-color: #FFCC2A;
    --quaternary-color: #0A5A4C;
    --radius: 0.5rem;
    font-size: 16px;
    font-family: "JetBrains Mono", monospace;
}

h2,
i {
    font-size: clamp(1rem, 1vw + 0.5rem, 1.5rem);
}

p, li {
    font-size: clamp(0.8rem, 0.5vw + 0.5rem, 1.2rem);
}

/* ------------- */
/* SECTION TITLE */
/* ------------- */
.section-title {
    width: calc(100% - 2rem);
    height: auto;
    margin: 2rem 1rem 1rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    text-align: left;
}

.section-title h2 {
    font-family: "Bungee", sans-serif;
    margin: 0;
}


.highlight-text {
    font-family: "Bungee", sans-serif;
    color: var(--tertiary-color);
}


body {
    width: 100vw;
    height: 100Vh;
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
    color: var(--primary-color);
    background-color: var(--secondary-color);
}

/* ------------ */
/* MAIN SECTION */
/* ------------ */
.main-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: calc(100% - 2rem);
    height: auto;
    margin: 0 1rem;
}

/* ------------- */
/* INTRO SECTION */
/* ------------- */
.intro-section {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    position: relative;
    margin-bottom: 1rem;
    padding: 0;
}

/* LEFT SIDE */

.social-container {
    width: calc(50% - 2rem);
    height: auto;
    margin: 0 1rem;
    display: flex;
    flex-direction: column;
    position: relative;
    text-align: left;
    top: 10%;
    color: var(--primary-color);
}

.social-links {
    display: flex;
}

.social-links a {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    padding-right: 1rem;
    text-decoration: none;
}

.social-links i {
    transition: filter 0.3s ease-in-out;
    text-decoration: none;
    object-fit: contain;
    color: var(--primary-color)
}

.social-links i:hover {
    color: var(--quaternary-color)
}

.animated-text {
    width: 100%;
    font-family: "Bungee", sans-serif;
    font-size: clamp(1.5rem, 1vw + 1rem, 2rem);
    text-wrap: nowrap;
    overflow: hidden;
    animation: typing 2s steps(20) infinite alternate-reverse;
    color: var(--tertiary-color);
}

@keyframes typing {
    from {
        width: 0ch;
    }
}

.social-info p {
    width: 100%;
    text-align: justify;
    font-family: 'Poppins', sans-serif;
    color: var(--primary-color);
}


.rating-section {
    width: 100%;
    height: auto;
    margin-top: 1.5rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    color: var(--primary-color);
}

.stat-box {
    text-align: center;
    margin: 1rem 0;
}


.stat-bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 0.5rem;
}
.stat-box i {
    color: var(--tertiary-color);
}

.count {
    color: var(--primary-color);
}

/* RIGHT SIDE */
.profile-container {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 50%;
    height: auto;
    overflow: hidden;
}

/* Background text */
.profile-title {
    font-family: "Bungee", sans-serif;
    font-size: clamp(4rem, 6vw + 2rem, 10rem);
    font-weight: bold;
    position: absolute;
    opacity: 0.3;
    white-space: nowrap;
    transform: rotate(-20deg);
    pointer-events: none;
    z-index: 1;
    user-select: none;
    color: var(--primary-color);
}

/* Foreground image */
.profile-image {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 50%;
    height: auto;
    z-index: 2;
}

/* ---------------- */
/* SERVICES SECTION */
/* ---------------- */

.services-section {
    width: calc(100% - 2rem);
    height: auto;
    margin: 0 1rem;
    gap: 2rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    text-align: center;
}

.service-box {
    flex: 1;
    min-width: clamp(10rem, 15vw + 8rem, 30rem);
    padding: 1.5rem;
    border-radius: var(--radius);
    transition: transform 0.3s ease-in-out;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    color: var(--secondary-color);
    background-color: var(--primary-color);
}

.service-box:hover {
    cursor: pointer;
    transform: scale(1.05);
    outline: 2px solid var(--primary-color);
    color: var(--primary-color);
    background-color: var(--secondary-color);
}

.service-box i {
    margin-bottom: 10px;
}

.service-box h2 {
    font-weight: bold;
}

.service-box:nth-child(1) i {
    color: #ff5722;
}

.service-box:nth-child(2) i {
    color: #2196F3;
}

.service-box:nth-child(3) i {
    color: #4CAF50;
}

.service-box:nth-child(4) i {
    color: #673AB7;
}

/* ------------- */
/* SKILL SECTION */
/* ------------- */
.skill-section {
    width: calc(100% - 2rem);
    height: auto;
    margin: 1rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
    text-align: center;
}

.skill-box {
    width: calc(25% - 1rem);
    height: auto;
    margin: 0.5rem;
    padding: 2rem 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    border-radius: var(--radius);;
    color: var(--primary-color);
    background-color: rgba(0, 0, 0, 0.3);
}

.skill-top {
    width: 100%;
    height: auto;
    display: flex;
    text-align: left;
    padding-bottom: 2rem;
}

.skill-bottom {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-weight: bold;
}



/* --------------------- */
/* Certification Section */
/* --------------------- */
.certification-section {
    width: calc(100% - 2rem);
    height: auto;
    margin: 0 1rem;
    text-align: center;
}

/* Swiper Container */
.swiper {
    width: 100%;
    max-width: 1200px;
    margin: auto;
}

.swiper-wrapper {
    display: flex;
}

.swiper-slide {
    flex-shrink: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}


.swiper-slide a {
    display: block;
    transition: transform 0.3s ease;
    text-decoration: none;
}

.swiper-slide a:hover {
    transform: scale(1.05);
}

/* CERTIFICATION IMAGE */
.swiper-slide img {
    width: 100%;
    max-width: 400px;
    height: auto;
    border-radius: 10px;
    box-shadow: 0 6px 20px rgba(0, 0, 0, 0.1);
}

/* CERTIFICATION NAVIGATION */
.swiper-button-next,
.swiper-button-prev {
    color: var(--tertiary-color);
    transition: color 0.3s ease;
}

.swiper-button-next:hover,
.swiper-button-prev:hover {
    color: var(--tertiary-color);
}

/* ----------------- */
/* EDUCATION SECTION */
/* ----------------- */
.education-section {
    width: calc(100% - 2rem);
    height: auto;
    margin: 0 1rem;
    gap: 2rem;
    display: flex;
    flex-wrap: wrap;
}

.edu-detail {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    padding: 1rem;
    border-radius: var(--radius);
    color: var(--primary-color);
    background-color: rgba(0, 0, 0, 0.3);
}

.edu-left {
    width: 50%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 2rem;
    border-radius: var(--radius);
    line-height: 1.5rem;
}

.edu-left i {
    color: var(--tertiary-color);
}

.edu-right {
    width: 50%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem;
    border-radius: var(--radius);
}

.cv-button {
    text-decoration: none;
    padding: 1rem 2rem;
    border-radius: var(--radius);
    font-weight: bold;
    border: none;
    cursor: pointer;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease;
    color: var(--secondary-color);
    background-color: var(--tertiary-color);
}

.cv-button:hover {
    transform: scale(1.05);
}


/* --------------- */
/* PROJECT SECTION */
/* --------------- */
.project-section {
    width: 100%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.project-box {
   width: calc(33.33% - 2rem);
    height: auto; 
    margin: 1rem; 
    padding: 1rem;
    border-radius: var(--radius);
    overflow: hidden;
    box-shadow: 0 0.25rem 0.75rem rgba(0, 0, 0, 0.1);
    background-color: rgba(0, 0, 0, 0.1);
}

/* Thumbnail Image */
.project-box img {
    width: 100%;
    height: auto;
    display: block;
    border-radius: var(--radius);
}

/* Footer Row */
.project-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
}

.project-footer a i {
    transform: rotate(-90deg);
}

/* Text Section */
.project-info {
    flex: 1;
}

.project-info h2 {
    font-weight: bold;
    margin: 0;
    color: var(--secondary-color);
}

.project-info p {
    color: var(--secondary-color);
    margin-top: 0.3rem;
}

/* Circular Button */
.circle-button {
    width: 2.5rem;
    height: 2.5rem;
    line-height: 2.5rem;
    border-radius: var(--radius);
    font-size: 1.5rem;
    text-align: center;
    text-decoration: none;
    transition: background-color 0.3s ease;
    flex-shrink: 0;
    color: var(--secondary-color);
    background-color: rgba(0, 0, 0, 0.5);
}
