* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

:root {
    --primary-color: #FFFFFF;
    --secondary-color: #202020;
    --tertiary-color: #FFCC2A;
    --quaternary-color: #0A5A4C;
    font-size: 16px;
    font-family: "JetBrains Mono", monospace;
}

body {
    height: 100Vh;
    width: 100vw;
    max-width: 1440px;
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    color: var(--primary-color);
    background-color: var(--secondary-color);
}

/* HEADER SECTION */
.header-container {
    width: 100vw;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    position: relative;
    justify-content: space-between;
    align-items: center;
    padding: 2rem;
    color: var(--primary-color);
    background-color: var(--secondary-color);
}

/* ------------------- */
/* MENU BAR FOR MOBILE */
/* ------------------- */
.header-container i {
    display: none;
    font-size: clamp(1.30rem, 1.40rem, 1.50rem);
    color: var(--tertiary-color);
    cursor: pointer;
}

/* -------- */
/* BRANDING */
/* -------- */
.branding {
    display: flex;
    align-items: center;
    justify-items: space-between;
    gap: 0.5rem
}

.branding img {
    width: clamp(1.38rem, 1.44rem, 1.50rem);
    height: clamp(1.38rem, 1.44rem, 1.50rem);
}

.branding h1 {
    color: var(--primary-color);
    font-size: clamp(1.30rem, 1.40rem, 1.50rem);
    font-weight: bold;
}

#branding-title {
    font-size: clamp(1.30rem, 1.40rem, 1.50rem);
    color: var(--tertiary-color);
}

/* -------------- */
/* NAVIGATION BAR */
/* -------------- */
.nav-links {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style-type: none;
    margin: 0;
    padding: 0;
    gap: 0.5rem;
}

.nav-links li a {
    font-size: clamp(1.30rem, 1.40rem, 1.50rem);
    font-weight: bold;
    padding: 0.5rem 1rem;
    border-radius: 5px;
    text-decoration: none;
    transition: background-color 0.3s, color 0.3s;
    color: var(--primary-color);
}

/* MENU-TOGGLE */
.menu-toggle {
    display: none;
    font-size: clamp(1.30rem, 1.40rem, 1.50rem);
    cursor: pointer;
}

/* ----------------------------- */
/* NAVIGATION BAR - EFFECT */
/* ----------------------------- */
.nav-links li a:hover,
.nav-links li a:focus {
    color: var(--tertiary-color);
    text-decoration: none;
}

.nav-links li a:active {
    color: var(--quaternary-color);
}

/* -------------- */
/* CONTACT BUTTON */
/* -------------- */
#contact-button {
    display: inline;
    margin: 0;
    padding: 0.5rem 1rem;
    font-size: clamp(1.30rem, 1.40rem, 1.50rem);
    border-radius: 0.5rem;
    list-style-type: none;
    color: var(--secondary-color);
    background-color: var(--tertiary-color);
}

#contact-button:hover {
    background: transparent;
    outline: 2px solid var(--primary-color);
}

#contact-button a {
    text-decoration: none;
    font-weight: bold;
    color: var(--secondary-color);
}

#contact-button a:hover {
    color: var(--primary-color);
}

/* ------------ */
/* MAIN SECTION */
/* ------------ */
.main-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: calc(100vw - 4rem);
    height: auto;
    margin: 0 2rem;
}

/* ------------- */
/* SECTION TITLE */
/* ------------- */
.section-title {
    width: calc(100vw - 8rem);
    height: auto;
    margin: 2rem 4rem;
    display: flex;
    justify-content: flex-start;
    text-align: left;
}

.section-title p {
    font-size: clamp(1.70rem, 1.80rem, 1.90rem);  
    font-family: "Bungee", sans-serif;
    margin: 0;
}

.services-text {
    font-size: clamp(1.00rem, 1.05rem, 1.10rem); 
    font-weight: normal;
}

.highlight-text {
    font-size: clamp(1.00rem, 1.05rem, 1.10rem); 
    font-family: "Bungee", sans-serif;
    color: var(--tertiary-color);
    font-weight: bold;
}

/* ------------- */
/* INTRO SECTION */
/* ------------- */
.intro-section {
    width: 100vw;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    position: relative;
    margin: 0;
    padding: 0;
}

/* LEFT SIDE */

.social-container {
    width: calc(50% - 4rem);
    height: auto;
    flex: 1;
    display: flex;
    flex-direction: column;
    position: relative;
    text-align: left;
    margin: 0 2rem;
    top: 10%;
    color: var(--primary-color);
}

.social-links {
    display: flex;
}

.social-links a {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    padding: 0.5rem;
    text-decoration: none;
}

.social-links i {
    font-size: clamp(1.30rem, 1.40rem, 1.50rem);
    transition: filter 0.3s ease-in-out;
    text-decoration: none;
    object-fit: contain;
    color: var(--primary-color)
}

.social-links i:hover {
    /* filter: invert(1) sepia(1) saturate(15) brightness(1.5) hue-rotate(80deg); */
    color: var(--quaternary-color)
}

.animated-text {
    width: 100%;
    font-family: "Bungee", sans-serif;
    font-size: clamp(1.70rem, 1.80rem, 1.90rem);  
    text-wrap: nowrap;
    overflow: hidden;
    animation: typing 2s steps(20) infinite alternate-reverse;
    color: var(--tertiary-color);
}

@keyframes typing {
    from {
        width: 0ch;
    }
}

.social-info p {
    width: 100%;
    text-align: justify;
    color: var(--primary-color);
    font-family: 'Poppins', sans-serif;
    font-size: clamp(1.00rem, 1.05rem, 1.10rem); 
}

/* RIGHT SIDE */
.profile-container {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 50%;
    height: auto;
    overflow: hidden;
}

/* Background text */
.profile-title {
    font-family: "Bungee", sans-serif;
    font-size: clamp(4rem, 6vw + 2rem, 10rem);
    font-weight: bold;
    position: absolute;
    opacity: 0.3;
    white-space: nowrap;
    transform: rotate(-20deg);
    pointer-events: none;
    z-index: 1;
    user-select: none;
    color: var(--primary-color);
}

/* Foreground image */
.profile-image {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 50%;
    height: auto;
    z-index: 2;
}

/* -------------- */
/* RATING SECTION */
/* -------------- */
.rating-section {
    width: calc(100vw - 4rem);
    height: auto;
    color: var(--primary-color);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    margin: 2rem;
}

.stat-box {
    text-align: center;
    font-size: clamp(1.00rem, 1.05rem, 1.10rem); 
}

.stat-box i {
    color: var(--tertiary-color);
}

.count {
    font-size: clamp(1.00rem, 1.05rem, 1.10rem); 
    color: var(--primary-color);
}

/* ---------------- */
/* SERVICES SECTION */
/* ---------------- */

.services-section {
    width: calc(100vw - 4rem);
    height: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    gap: 2rem;
    margin: 0 2rem;
}

.service-box {
    background-color: var(--primary-color);
    color: var(--secondary-color);
    flex: 1;
    min-width: clamp(10rem, 15vw + 8rem, 30rem);
    padding: 1.5rem;
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out;
}

.service-box:hover {
    transform: scale(1.05);
    background-color: var(--secondary-color);
    color: var(--primary-color);
    outline: 2px solid var(--primary-color);
    cursor: pointer;
}

.service-box i {
    font-size: clamp(1.30rem, 1.40rem, 1.50rem);
    margin-bottom: 10px;
}

.service-box h2 {
    font-size: clamp(1.30rem, 1.40rem, 1.50rem);
    font-weight: bold;
}

.service-box p {
    font-size: clamp(1.00rem, 1.05rem, 1.10rem); 
}

.service-box:nth-child(1) i {
    color: #ff5722;
}

.service-box:nth-child(2) i {
    color: #2196F3;
}

.service-box:nth-child(3) i {
    color: #4CAF50;
}

.service-box:nth-child(4) i {
    color: #673AB7;
}

/* ------------- */
/* SKILL SECTION */
/* ------------- */
.skill-section {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
    text-align: center;
    width: calc(100vw - 4rem);
    gap: 2rem;
    margin: 0 2rem;
}

.skill-box {
    width: 8rem;
    height: 8rem;
    border-radius: 1rem;
    overflow: hidden;
    position: relative;
    transition: all 0.4s ease;
    cursor: pointer;
    transition: box-shadow 0.3s ease;
    box-shadow: 0 0.25rem 0.375rem rgba(0, 0, 0, 0.1);
    background-color: var(--secondary-color);
}

.icon-area {
    height: 70%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: opacity 0.3s ease;
    background-color: var(--tertiary-color);
}

.icon-area i {
    font-size: clamp(1.30rem, 1.40rem, 1.50rem);
    color: var(--secondary-color);
}

.dock {
    height: 30%;
    width: 100%;
    position: absolute;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: height 0.4s ease;
    background-color: var(--primary-color);
}

.label {
    padding-top: 4rem;
    font-weight: bold;
    font-size: clamp(1.00rem, 1.05rem, 1.10rem); 
    transition: transform 0.4s ease;
    color: var(--secondary-color);
}

.skill-box:hover .dock {
    padding: 0.2rem;
    height: 100%;
}

.skill-box:hover .icon-area {
    opacity: 0;
}

.icon-area i {
    font-size: clamp(1.30rem, 1.40rem, 1.50rem);
}

.skill-box:hover .label {
    transform: translateY(-2rem);
}

.caption {
    font-weight: normal;
    font-size: clamp(1.00rem, 1.05rem, 1.10rem); 
    opacity: 0;
    transform: translateY(1rem);
    transition: opacity 0.4s ease, transform 0.4s ease;
    color: var(--secondary-color);
}

.skill-box:hover .caption {
    opacity: 1;
    transform: translateY(0);
}

/* --------------------- */
/* Certification Section */
/* --------------------- */
.certification-section {
    width: calc(100vw - 4rem);
    height: auto;
    margin: 0 2rem;
    text-align: center;
}

/* Swiper Container */
.swiper {
    width: 100%;
    max-width: 1200px;
    margin: auto;
}

.swiper-wrapper {
    display: flex;
}

.swiper-slide {
    flex-shrink: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}


.swiper-slide a {
    display: block;
    transition: transform 0.3s ease;
    text-decoration: none;
}

.swiper-slide a:hover {
    transform: scale(1.05);
}

/* CERTIFICATION IMAGE */
.swiper-slide img {
    width: 100%;
    max-width: 400px;
    height: auto;
    border-radius: 10px;
    box-shadow: 0 6px 20px rgba(0, 0, 0, 0.1);
}

/* CERTIFICATION NAVIGATION */
.swiper-button-next,
.swiper-button-prev {
    color: var(--tertiary-color);
    transition: color 0.3s ease;
}

.swiper-button-next:hover,
.swiper-button-prev:hover {
    color: var(--tertiary-color);
}

/* ----------------- */
/* EDUCATION SECTION */
/* ----------------- */
.education-section {
    width: calc(100vw - 4rem);
    height: auto;
    display: flex;
    flex-wrap: wrap;
    margin: 0 2rem;
    gap: 2rem;
}

.edu-detail {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    padding: 1rem;
    border-radius: 0.5rem;
    font-size: clamp(1.00rem, 1.05rem, 1.10rem); 
    color: var(--primary-color);
    background-color: rgba(0, 0, 0, 0.3);
}

.edu-left {
    width: 50%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 2rem;
    border-radius: 0.5rem;
}

.edu-left i {
    color: var(--tertiary-color);
}

.edu-right {
    width: 50%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem;
    border-radius: 0.5rem;
}

.cv-button {
    text-decoration: none;
    padding: 1rem 2rem;
    border-radius: 0.5rem;
    font-weight: bold;
    border: none;
    cursor: pointer;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease;
    color: var(--secondary-color);
    background-color: var(--tertiary-color);
}

.cv-button:hover {
    transform: scale(1.05);
}


/* --------------- */
/* PROJECT SECTION */
/* --------------- */
.project-section {
    width: calc(100vw - 4rem);
    height: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
}

.project-box {
    width: calc(50vw - 4rem);
    height: auto;
    padding: 1rem;
    border-radius: 0.5rem;
    overflow: hidden;
    box-shadow: 0 0.25rem 0.75rem rgba(0, 0, 0, 0.1);
    background-color: var(--primary-color);
}

/* Thumbnail Image */
.project-box img {
    width: 100%;
    height: auto;
    border-radius: 0.5rem;
    display: block;
}

/* Footer Row */
.project-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
}

.project-footer a i {
    font-size: clamp(1.30rem, 1.40rem, 1.50rem);
    transform: rotate(-90deg);
}

/* Text Section */
.project-info {
    flex: 1;
}

.project-info h2 {
    font-size: clamp(1.30rem, 1.40rem, 1.50rem);
    font-weight: bold;
    margin: 0;
    color: var(--secondary-color);
}

.project-info p {
    font-size: clamp(1.00rem, 1.05rem, 1.10rem); 
    color: var(--secondary-color);
    margin-top: 0.3rem;
}

/* Circular Button */
.circle-button {
    width: 2.5rem;
    height: 2.5rem;
    line-height: 2.5rem;
    border-radius: 0.5rem;
    font-size: 1.5rem;
    text-align: center;
    text-decoration: none;
    transition: background-color 0.3s ease;
    flex-shrink: 0;
    color: var(--secondary-color);
    background-color: rgba(0, 0, 0, 0.5);
}

/* -------------- */
/* FOOTER SECTION */
/* -------------- */
.footer-section {
    padding: 2rem;
    background-color: var(--secondary-color);
    color: var(--primary-color);
}

.footer-top {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    gap: 2rem;
    border-top: 1px solid rgba(255, 255, 255, 0.1);
}

.footer-branding {
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-branding img {
    width: 2rem;
    height: 2rem;
    object-fit: contain;
}

.footer-quick h2,
.footer-social h2 {
    font-size: clamp(1.30rem, 1.40rem, 1.50rem);
}

.footer-quick ul,
.footer-social ul {
    list-style: none;
    padding: 0;
}

.footer-quick li,
.footer-social li {
    margin: 0.5rem 0;
}

.footer-quick li a,
.footer-social li a {
    font-size: clamp(1.00rem, 1.05rem, 1.10rem); 
    text-decoration: none;
    transition: color 0.3s ease;
    color: var(--primary-color);
}

.footer-quick a:hover,
.footer-social a:hover {
    color: var(--primary-color);
}

.footer-bottom {
    font-size: clamp(1.00rem, 1.05rem, 1.10rem); 
    text-align: center;
    margin-top: 2rem;
    border-top: 1px solid rgba(255, 255, 255, 0.1);
    padding-top: 1rem;
    color: var(--primary-color);
}